/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
        margin-bottom: 15px;
}

/* 
  Our styles
*/

body {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
}

p {
    color: #555;
    margin-bottom: 15px;
    line-height: 25px;
    text-align: justify;
}

a {
    color: #0087cc;
    text-decoration: none;
}

a:hover {
    color: #ff7b29;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

h4 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

h5 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}

ul {
    color: #555;
    line-height: 25px;
    list-style-type: disc; 
    list-style-position: outside;
    margin-left: 40px;
    margin-bottom: 15px;
}

ol {
    color: #555;
    line-height: 25px;
    list-style-type: decimal; 
    list-style-position: outside; 
    margin-left: 40px;
    margin-bottom: 15px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

code {
    font-family: monospace;    
}

pre {
    margin-bottom: 15px;
    border: 1px solid #aaaaaa;
    padding: 5px;
    line-height: 20px;
    font-family: monospace;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table, th, td {
    border: 1px solid #aaaaaa;
    padding: 10px;
}

sup {
    vertical-align: super;
}

blockquote {
    padding: 5px 42px;
    margin: 0px 0px;
    background-repeat: no-repeat;
    background-position: 0px 15px;
}

blockquote.tip {
    background-image: url(../images/tip.png);    
}

blockquote.information {
    background-image: url('../images/info.png');
}

blockquote.question {
    background-image: url('../images/question.png');
}

.header {
    margin: 0 auto;
    background-color: #E8EEF5;
    text-align: center;
}

.header-body {
    max-width: 800px;
    width: 100%;
    display: inline-block;
    padding: 10px 0px;
    text-align: left;
}

.menu div {
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
    font-size: 0.9em;
    font-weight: bold;
}

.menu a {
    color: #a67f59;
}

.book-title {
    font-size: 2em;
    padding: 5px 0px;
}

.book-title a {
    font-family: Arial;
    font-weight: bold;
    color: #555;
}

.book-subtitle {
    font-size: 0.9em;
    padding: 0px 10px 0px 0px;
    color: #999;
}

.navigation {
    max-width: 800px;
    margin: 15px auto;
    border-radius: 5px;
}

.navigation div {
    display: inline-block;
    width: 32%;
}

.navigation div img {
    vertical-align: middle;
}

.navigation div span {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}

.navigation .contents {
    text-align: center;
}

.navigation .next-chapter {
    text-align: right;
}

#container {
   max-width: 800px;
   margin: 0 auto;
   padding: 10px;
}

#disqus_thread {
    max-width: 800px;
    margin: 0 auto;
}

.footer {
    margin: 0 auto;
    text-align: center;
    background-color: #E8EEF5;    
}

.footer-body {
    max-width: 800px;
    width: 100%;
    display: inline-block;
    padding: 10px 10px;
    text-align: left;
    background-color: #E8EEF5;
    font-size: 0.8em;
}

div.copyright {
    float: left;
    color: #999;
}

div.generated-by {
    float: right;
    color: #999;
}

img {
    max-width: 800px;    
}

.image-wrapper {
    text-align: center;
}

.image-caption {
    margin: auto;
    text-align: center;
    padding: 5px 5px;
    font-size: 0.8em;
}

.table-caption {
    padding: 5px 5px;
    font-size: 0.8em;
}

div.language-selection {
    margin: 50px;
}

.language-list {
    font-size: 1.5em;
}

.language-list li {
    padding: 10px;
}

#book-cover {
    max-width: 350px;
    max-height: 450px;
    float: right;
    border: 1px solid black;
}
